
.card-destino .card-img-top {
    height: 220px;       
    object-fit: cover;   
}


.card-destino {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-destino:hover {
    transform: translateY(-8px); /* Eleva la carta */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important; 
    border-color: #0d6efd; 
}