
#carouselExampleDark .carousel-item img {
    height: 500px;
    object-fit: cover; 
}


.carousel-caption {
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 15px;
    padding: 20px;
    bottom: 10%; 
}

.carousel-caption h5 {
    color: #ffc107; 
    font-weight: bold;
    font-size: 1.8rem;
}

.carousel-caption p {
    color: #ffffff; 
    font-size: 1.2rem;
}