.hero-section {
    height: 100vh;
    /* Ocupa el 100% de la altura de la ventana */
    min-height: 500px;
}

.hero-bg video,
.hero-bg img {
    object-fit: cover;
    /* Evita que la imagen/video se estire */
}

/* Para ocultar el texto antes de que jQuery lo anime */
#hero-title,
#hero-subtitle {
    opacity: 0;
}